ul.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
	background-color: #f3f3f3;
	font-family: sans-serif;
	position: static;
	float: left;
}

ul.sidebar li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

ul.sidebar li a:hover:not(.active) {
	background-color: #ddd;
}

ul.sidebar .active {
	background-color: #C00;
	color: white;
}


/*****************************/

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f3f3f3;
	overflow: hidden;
}

ul.navbar li{
	float: left;
}

ul.navbar li a {
	display: block;
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
	background-color: #ddd;
}

ul.navbar .active {
	background-color: #C00;
	color: white;
}

ul.navbar li.right {
	float: right;
}

ul.navbar.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
}

ul.navbar.fixed-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/** Conteudo **************************/

div.content {
	margin-left: 25%;
	padding: 1px 20px;
	height: 1000px;
}



/** Dropdown ****************************/

.navbar li.dropdown {
	display: inline-block;
}

.navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.navbar .dropdown-content a {
	color: black;
	padding: 12px 16px;
	display: block;
	text-align: left;
	text-decoration: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.navbar .dropdown:hover .dropdown-content {
	display: block;
}

.sidebar .dropdown-content {
	background-color: #f9f9f9;
	position: relative;
	padding-left: 20px;
}

/* Mobile ********************************/

@media screen and (max-width: 600px) {
	ul.sidebar {
		width: auto;
		height: auto;
		position: static;
		overflow: hidden;
		float: none;
	}
	ul.sidebar li {
		float: left;
	}
	ul.sidebar li a {
		padding: 14px 16px;
	}
	div.content {margin-left: 0;}
	ul.sidebar li.right, 
	ul.sidebar li {float: none;}
	
	ul.navbar li.right, 
	ul.navbar li {float: none;}


	.navbar li.dropdown {
		display: inline;
	}
	.navbar .dropdown-content {
		display: block;
		background-color: #f9f9f9;
		background-color: #f9f9f9;
		position: relative;
		padding-left: 20px;
		box-shadow: none;
	}
}