@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  font-family: 'Roboto', sans-serif;
}

/* Sidebar ***************************************************/

.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #48f;
  position: fixed;
  float: left;
  height: 100%;
  overflow: auto;
}

.sidebar.green {
  background-color: #2ba;
}

.sidebar.red {
  background-color: #f34;
}

.sidebar.purple {
  background-color: #a6c;
}

.sidebar li {
  padding: 10px;
}
.sidebar a {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.sidebar .active {
  background-color: rgba(255,255,255,.1);
  color: white;
  pointer-events: none;
}

.sidebar .disabled {
  color: #AAA;
  cursor: not-allowed;
  pointer-events: none;
}

.sidebar a:hover:not(.active) {
  color: #ddd;;
}

/* Navbar ******************************************************/

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #48f;
  overflow: hidden;
}

.navbar.green {
  background-color: #2ba;
}

.navbar.red {
  background-color: #f34;
}

.navbar.purple {
  background-color: #a6c;
}

.navbar li {
  float: left;
  padding: 10px;
}

.navbar a {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
  color: #ddd;
}

.navbar .active {
  background-color: rgba(255,255,255,.1);
  color: white;
  pointer-events: none;
}

.navbar .disabled {
  color: #AAA;
  cursor: not-allowed;
  pointer-events: none;
}

.navbar .right {
  float: right;
}

.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Navs ****************************************************/

.nav {
  list-style-type: none;
  /*background-color: red;*/
  margin: 0px;
  padding: 0px;
  display: flex;
}

.nav li {
  margin-bottom: -1px;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #07f;
}

.nav .ativo {
  color: black;
}

.nav .disable {
  color: #AAA;
  cursor: not-allowed;
  pointer-events: none;
}

.nav a:hover:not(.ativo) {
  color: #036;
}

.nav.guia {
  border-bottom: solid thin #ddd;
}

.nav.guia a {
  border: solid thin transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav.guia a:hover:not(.ativo) {
  border-color: #eee #eee #ddd;
}

.nav.guia .ativo {
  border-color: #ddd #ddd white;
  background: white;
}

.nav.pilula .ativo {
  background-color: #07f;
  color: white;
  border-radius: 5px;
}

/* Conteudo ****************************************************/

.content {
  padding: 1px 20px;
}
.sidebar ~ .content {
  margin-left: 25%;
}
.content.center {
  padding: 1px 20px;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

/* Dropdown ****************************************************/

.navbar .dropdown {
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown-content.show {
  display: block;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-align: left;
  text-decoration: none;
  color: black;
  margin: 2px;
}

.dropdown-content .active {
  color: #48f;
}

.dropdown-content a:hover:not(.active) {
  background-color: #eee;
  color: black;
}

.sidebar .dropdown-content {
  background-color: #fff;
  position: relative;
  display: block;
  border-radius: 5px;
  -webkit-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  max-height: 0px;
  overflow: hidden;
}

.sidebar .dropdown-content.show {
  display: block;
  max-height: 500px;
  -webkit-transition: max-height 2s;
  -o-transition: max-height 2s;
  -moz-transition: max-height 2s;
}

.sidebar .dropdown-content a {
  padding-left: 40px;
}

.caret {
  position: relative;
  font-size: 9px;
  bottom: 3px;
}

.sidebar .caret {
  float: right;
  top: 3px;
}

/* Tabela **************************************************/

.tabela {
  border-collapse: collapse;
  margin: 30px 0px;
}

.tabela td {
  border: solid #aaa;
  border-width: 1px 0px;
  padding: 8px;
}

.tabela th {
  border: solid #aaa;
  border-width: 0px 0px 2px 0px;
  padding: 8px;
  text-align: left;
}

.tabela.borda {
  border: solid #aaa;
  border-width: 1px;
}

.tabela.borda td {
  border-width: 1px 1px;
}

.tabela.borda th {
  border: solid #aaa;
  border-width: 1px 1px 2px 1px;
}

.tabela.centro,
.tabela.centro th {
  text-align: center;
}

.tabela.listra tr:nth-child(even) {
  background-color: #f5f5f5;
}

.tabela.hover tr:hover {
  background-color: #f5f5f5;
}

/* Forms **************************************************/

.formulario input:not([type]),
.formulario input[type="password"],
.formulario input[type="email"],
.formulario input[type="url"],
.formulario input[type="date"],
.formulario input[type="month"],
.formulario input[type="time"],
.formulario input[type="datetime"],
.formulario input[type="datetime-local"],
.formulario input[type="week"],
.formulario input[type="tel"],
.formulario input[type="color"],
.formulario input[type="file"],
.formulario input[type="number"],
.formulario input[type="search"],
.formulario input[type="text"],
.formulario select {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #ccc;
}

.formulario.empilhado input:not([type="checkbox"]),
.formulario.empilhado select,
.formulario.empilhado label {
  display: block;
  margin: 10px 5px;
}

.formulario .form-group label {
  width: 100px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.formulario .form-group .checkbox-label {
  width: auto;
  margin: 10px 0px 10px 60px;
  display: block;
  text-align: left;
}

.formulario .form-group .checkbox-label input {
  display: inline;
}

/* Botoes **************************************************/

.btn {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 4px;
  border: solid 1px #ccc;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

.btn:hover:enabled:not(.disabled) {
  background: linear-gradient(#ddd, #ccc);
}

.btn.primario {
  background-color: #36f;
  color: white;
  font-weight: 100;
  border-color: #36f;
}

.btn.primario:hover:enabled:not(.disabled) {
  background: linear-gradient(#36f, #13a);
}

.btn.sucesso {
  background-color: #0a0;
  color: white;
  font-weight: 100;
  border-color: #0a0;
}

.btn.sucesso:hover:enabled:not(.disabled) {
  background: linear-gradient(#0a0, #080);
}

.btn.erro {
  background-color: #c00;
  color: white;
  font-weight: 100;
  border-color: #c00;
}

.btn.erro:hover:enabled:not(.disabled) {
  background: linear-gradient(#c00, #900);
}

.btn.atencao {
  background-color: #d60;
  color: white;
  font-weight: 100;
  border-color: #d60;
}

.btn.atencao:hover:enabled:not(.disabled) {
  background: linear-gradient(#d60, #c30);
}

.btn.secundario {
  background-color: #6af;
  color: white;
  font-weight: 100;
  border-color: #6af;
}

.btn.secundario:hover:enabled:not(.disabled) {
  background: linear-gradient(#6af, #37e);
}

.btn:disabled {
  opacity: .65;
}

.btn.disabled {
  opacity: .65;
  pointer-events: none;
}

/* Modal **************************************************/

.modal {
  background-color: white;
  padding: 20px;
  border: solid 1px grey;
  display: none;
  border-radius: 5px;
  position: fixed;
  max-width: 70%;
  max-height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
}

.modal.show {
  display: block;
}

.modal-bg-black {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(50, 50, 50, 0.4);
}

.modal-bg-black.show {
  display: block;
}

.modal-header {
  border-bottom: solid 1px grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.modal-footer {
  border-top: solid 1px grey;
  padding-top: 10px;
  margin-top: 20px;
  text-align: right;
}

.fecha-modal {
  text-decoration: none;
  display: block;
  margin-left: 99%;
}

body.modal-aberto {
  overflow: hidden;
}

/* Lista **************************************************/

.lista {
  list-style: none;
}
.lista.compacta {
  display: table;
}

.lista li {
  border: grey solid 1px;
  padding: 10px 20px;
  display: block;
  margin-bottom: -1px;
}

.lista li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.lista li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lista li:hover:not(.disabled) {
  background-color: #c00;
  color: white;
  border-color: #c00;
}

.lista li.disabled {
  color: #aaa;
  cursor: not-allowed;
}

/* Mobile **************************************************/

@media screen and (max-width: 600px) {
  .sidebar {
    width: auto;
    height: auto;
    position: static;
    overflow: hidden;
    float: none;
  }
  .sidebar li {
    float: left;
  }
  .sidebar li a {
    padding: 14px 16px;
  }
  .content {
    margin-left: 0;
  }
  .sidebar li.right,
  .sidebar li {
    float: none;
  }
  .navbar li.right,
  .navbar li {
    float: none;
  }
  .navbar .dropdown {
    display: list-item;
  }
  .navbar .dropdown-content {
    display: block;
    background-color: #f9f9f9;
    position: relative;
    box-shadow: none;
    -webkit-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    max-height: 0px;
    overflow: hidden;
  }

  .navbar .dropdown-content.show {
    max-height: 500px;
    -webkit-transition: max-height 2s;
    -o-transition: max-height 2s;
    -moz-transition: max-height 2s;
  }

  .navbar .dropdown-content a {
    padding-left: 40px;
  }
  .caret {
    float: right;
    top: 3px;
  }
  .formulario input:not([type]),
  .formulario input[type="password"],
  .formulario input[type="email"],
  .formulario input[type="url"],
  .formulario input[type="date"],
  .formulario input[type="month"],
  .formulario input[type="time"],
  .formulario input[type="datetime"],
  .formulario input[type="datetime-local"],
  .formulario input[type="week"],
  .formulario input[type="tel"],
  .formulario input[type="color"],
  .formulario input[type="file"],
  .formulario input[type="number"],
  .formulario input[type="search"],
  .formulario input[type="text"],
  .formulario select {
    display: block;
  }
  .tabela {
    display: block;
    overflow: auto;
  }
  
  .tabela.responsiva,
  .tabela.responsiva tbody,
  .tabela.responsiva tr {
    display: block;
    width: 100%;
    overflow: visible;
  }
  .tabela.responsiva tr {
    margin-bottom: 20px;
  }
  .tabela.responsiva th {
    display: none;
  }
  .tabela.responsiva td {
    display: block;
    text-align: right;
    margin-bottom: -1px;
  }
  .tabela.responsiva td:before {
    content: attr(campo);
    float: left;
    font-weight: bold;
  }
  .formulario .form-group label {
    text-align: left;
  }
  .formulario .form-group .checkbox-label {
    margin: 10px 0px 10px 0px;
  }
}
